.js-practice {
  padding: 30px 0;

  &__container {
    @include grid;
    @include grid-desktop;
  }

  &__text {
    grid-column: 6/8;
    margin: 0;
    font-size: 25px;
    text-align: center;
    color: #fff;
  }
}

#button1 {
  grid-column: 6/8;
  margin-bottom: 15px;
  border: none;
  border-radius: 10px;
  padding: 20px 12px;
  font-size: 20px;
  color: #fff;
  background-color: #f00;
  cursor: pointer;
}

.demo {
  grid-column: 6/8;

  &__image {
    grid-column: 6/8;
  }
}
