<section class="about-me" id="about-me">
  <div class="about-me__container container">
    <div class="about-me__descr">
      <h1 class="about-me__title">
        Немного обо мне:
      </h1>
      <p class="about-me__blank">
        Медведев Никита Сергеевич. Учусь в Ростовском-на-Дону колледже связи и информатики на факультете "Обеспечение информационной безопасности автоматизированных систем" и очень хочу работать в направлении WEB. Буду рад получить опыт в компании Positive Technologies!
      </p>
    </div>
    <div class="about-me__picture">
      <div class="about-me__img"></div>
      <p class="about-me__caption">
        Медведев Н.С.
      </p>
    </div>
  </div>
</section>
